<%= render 'search_form' %>
<h1>Listing properties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rooms</th>
    <th>Is available</th>
    <th>Distance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @properties.each do |property| %>
      <tr>
        <td><%= link_to property.name, property %></td>
        <td><%= property.number_of_rooms %></td>
        <td><%= property.is_available %></td>
        <td><%= property.location.distance_to(@origin).round(2) %> KMs</td>
      </tr>
  <% end %>
</table>