<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @property.name %>
</p>

<p>
  <b>Number of rooms:</b>
  <%= @property.number_of_rooms %>
</p>

<p>
  <b>Latitude:</b>
  <%= @property.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @property.longitude %>
</p>
<% if @property.is_available %>
    Hurry Up! This property is still available!
<% else  %>
    You just missed this one! But here are some others that might interest you
    <%= render 'listing' %>
<% end %>

<br/>
<%= link_to 'Back to search', :back %>
